<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td> 商品ID：</td>
        <td th:text="${product.getProductId()}"></td>
    </tr>
    <tr>
        <td>商品名：</td>
        <td th:text="${product.getProductName()}"></td>
    </tr>
    <tr>
        <td>商品价格：</td>
        <td th:text="${product.getPrice()}"></td>
    </tr>
</table>
<a th:href="@{/getProductList}">返回首页</a>
</body>
</html>