<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'欢迎您：'+${session.loginUser.getUserName()}"></h1>
<table th:border="1" th:cellspacing="0" th:cellpadding="10" style="text-align: center;">
    <thead>
    <th>商品id</th>
    <th>商品名</th>
    <th>商品价格</th>
    <th>操作</th>
    </thead>
    <tbody>
    <tr th:each="m:${productList}">
        <td th:text="${m.getProductId()}"></td>
        <td th:text="${m.getProductName()}"></td>
        <td th:text="${m.getPrice()}"></td>
        <td>
            <a th:href="@{/getProduct(productId=${m.getProductId()})}">查看商品详细信息</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>